#section01{
background: url(../img/bg-05.jpg) 50% 0 no-repeat fixed;

}

#section02{
 background: url(../img/bg03.jpg) 50% 0 no-repeat fixed; 
 
}

#section03{
 background: url(../img/bg-008.jpg) 50% 0 no-repeat fixed;
 
}
#section01,#section02, #section03{

  min-height: 700px;
  margin: 0px auto;
  max-width: 1920px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
} 

#section02, #section03{
-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-o-box-shadow: 0 0 20px rgba(0,0,0,0.4);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

footer
{
  color: rgba(255,255,255,0.7);
  background:#12263d;
  padding:0.3rem;
  font-family: lora;
  }
.footerPos{
  text-align: right;
}

.textoForm{
  font-family: lora;
}

.titulo_section3{
  text-align: center;
  text-decoration: none;
  font-family: Lora;
}

.imagenPeque {
border-radius: 50%;
margin-left: 2rem;
}

#b-1{
  padding:1.5rem;
  background-color: black;
  color:#f5f5f5;
}


.texto3{
 text-align: center;
  font-family: Lora;
}

.formContainer{
  background-color: #e2e2e2;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-o-box-shadow: 0 0 20px rgba(0,0,0,0.4);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

}
.textoBA{
  font-family: lora;
  color: white;
}
.textoBA3{
  color: black;
  font-family: lora;
}


.boxContainer{
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.textoBA2{
  font-family: lora;
  color: #000;
  text-align: right;
  font-size: 12px;
}

.productContainer{
  margin: 2rem auto;

}

.headerNew
{
  background: #008CBA;
  color:white;
  overflow: hidden;
  position: relative;
  padding:0;
}

header figure
{
  float: left;   
}
header .headerNew h1 
{
  font-size: 2.6rem;
  font-weight: normal;
  margin: 10px 80px 0 0;
  text-align: center;
  display:inline-block;
  color: white;
  font-family: lora;
}

header #logo
{
  /*-webkit-transform:rotate(90deg);*/
  /*-moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);*/
  border-right: 1px solid white;
  margin-right: 0.8em;
}

header #logo img
{
  margin-right: 0.1rem;
  padding-right: 0.2rem;
  width: 130px;
  -webkit-transition:.6s;


}
header #logo img:hover{
  
  -webkit-transform:rotate(360deg);
}

header #avatar
{
  margin: 1.2em 0.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

header #avatar img
{
  
  width: 130px;

}
header figure
{
  float: left;
}


.style3 {
  margin-top: 0;
font-size: 24px;
color: #3776b6;
text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #E33100,0 0 30px #E33100,0 0 40px #E33100,0 0 50px #E33100,0 0 75px #E33100;}

.productPos{
  margin-top: 6rem;
}

.textFont{
  font-family: lora;
}

